/* Content specific styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    background-color: #ffffff;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px 30px;
    margin: 10px auto;
}

.navContainer {
    border: none;
}

h1, h3, h4 {
    color: #4CAF50;
}

h1 {
    padding-bottom: 15px;
}

.lead {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.btn-primary {
    color: #fff;
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    padding: 10px 60px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
}

.btn-primary:hover {
        background-color: #45a049;
        border-color: #45a049;
    }


/* Navigation bar styles */

.navbar {
    background-color: #ffffff;
}

.navbar-brand {
    color: #4CAF50;
    font-weight: 500;
}

.navbar-nav a {
    color: #fff !important;
}

a:hover {
    color: #4CAF50;
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}

.content {
    margin-top: 80px;
}

.row-body {
    margin-top: -50px;
}

.card-body {
    padding: 30px;
}

.btn-link, .btn-link:active, .btn-link:hover {
    color: inherit;
    text-decoration: none;
}

.register-link {
    color: #4CAF50 !important;
    font-weight: 500 !important;
    text-decoration: none !important;
}


#registrationForm {
    margin-top: -30%;
    margin-left: -10%;
}


/* Adjustments for DataEntry.aspx */
#form1 {
    padding: 20px;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

/* Styling for TextBox and DropDownList */
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Styling for DropDownList arrow icon */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 12l-6-6 1.5-1.5L10 9l4.5-4.5L16 6z"/></svg>');
    background-size: 12px;
    background-position: 95% 50%;
    background-repeat: no-repeat;
}


.grid-container {
    display: flex;
    justify-content: space-between;
}

.grid-item {
    width: 48%; /* Adjust as needed */
    margin-bottom: 20px;
}


